.banner-wrap {
  display: flex;
  justify-content: center;
  margin: 5rem 0;
}
.banner-img {
  width: 50%;
}
.video-wrap {
  width: 50%;
  height: 28.2vw;
  margin: auto;
  margin-bottom: 5rem;
}
.iframe {
  width: 100%;
  height: 100%;
}
h4 {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.about-card {
  width: 40%;
  margin: 7rem auto;
  background-color: var(--green-5);
  color: white;
  border-radius: var(--borderRadius);
  padding: 2rem 1rem;
}
.about-card-dark {
  background-color: var(--green-10);
}
.about-card-item {
  display: flex;
}
.about-card-item-icon {
  margin-right: 0.7rem;
}
.estimates-button-wrapper {
  margin: auto;
  width: 60%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 5rem;
}
.about-contact-form-wrapper {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

@media (max-width: 1100px) {
  .banner-wrap {
    margin: 4rem 0;
  }
  .banner-img {
    width: 80%;
  }
  .video-wrap {
    /* width: 50vw; */
    width: 80%;
    height: calc(28.2vw * 8 / 5);
  }
  h4 {
    font-size: 1.3rem;
  }
  .about-card {
    width: 60%;
  }
  .about-contact-form-wrapper {
    margin-bottom: 4rem;
  }
}

@media (max-width: 600px) {
  /* .banner-wrap {
    margin: 4rem 0;
  } */
  .banner-img {
    width: 90%;
  }
  .video-wrap {
    /* width: 50vw; */
    width: 90%;
    height: calc(28.2vw * 9 / 5);
  }
  h4 {
    font-size: 1.3rem;
  }
  .about-card {
    width: 80%;
  }
  /* .about-contact-form-wrapper {
    margin-bottom: 4rem;
  } */
}
@media (max-width: 400px) {
  .banner-wrap {
    margin: 3rem 0;
  }
  .banner-img {
    width: 98%;
  }
  .video-wrap {
    /* width: 50vw; */
    width: 98%;
    height: calc(28.2vw * 98 / 50);
  }
  /* h4 {
    font-size: 1.3rem;
  } */
  .about-card {
    width: 98%;
  }
}
